.titulo1 {
  border: solid red;  

} 


.sizeh2 {
  border: solid blue;

}  

.sizeh3 {
  border: solid green;
}

.sizeh4 {
  border: solid pink;
}

.sizeh5 {
  border: solid cyan;
}
.sizeh6 {
  border: solid brown;
}

.papasCompra {
  border: solid yellow;
}
ul li {
  border: solid magenta;
}



